.multiple-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.input-field {
    min-width: 300px;
    padding: 5px;
    font-size: 13px;
    margin: 10px 20px 0px 10px;
}

.search-button {
    padding: 5px;
    margin: 10px 10px 0px 10px;
    width: 8em;
    font-size: 13px;
}

.search-switch {
    padding: 5px;
    font-size: 14px;
    color: grey;
    margin: 0px 10px 0px 10px;
}

.suggestion-list {
    margin: 0px 10px 0px 10px;
    min-width: 300px;
    max-height: 20em;
    position: absolute;
    z-index:2;
}

.suggestion-item {
    line-height: 1em;
}

.suggestion-item-highlight {
    font-weight: bold;
}

.suggestion-pref-label {
    font-size: 11px;
    color: grey;
    font-style: italic;
}

.entity-list {
    display: flex;
    flex-wrap: wrap;
}

.entity-box {
    display: flex;
    align-items: center;
    background-color: #9999cc;
    color: white;
    padding: 3px 10px 3px 10px;
    margin: 3px;
    border-radius: 15px;
}

.entity-box:hover {
    background-color: #7474a6;
}

.entity-link {
    color: white;
}

.entity-remove-button {
    background-color: inherit;
    color: inherit;
    border: 0px;
    padding: 0px;
    margin: 2px 0px 2px 8px;
    cursor: pointer;
}

.entity-remove-button:hover {
    background-color: inherit;
}
