@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300');

body {
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 80%;
}
